*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
svg{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.map{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.map svg{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table{
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    float: left;
    width: 400px;
    height: 250px;
    background-color: #f6f6f6;
    border-radius: 15px;
}
.wrapper{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.wrapper .row{
    width: 100%;
    height: 50%;
    display: flex;
    gap: 20px;
}
.wrapper .row .squareExample{
    width: 20px;
    height: 20px;
    border: 1px solid darkslategray;
}
.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}
.dd{
    background: url(#hachura);
}
svg path:hover{
    opacity: .5;
}
svg rect {
    fill: url(#hachura);
  }


.dashed-border{
    fill: green;
    fill: url(#hachura);
}

.squaredoted svg{
    width: 20px;
    height: 20px;
    
}
p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #DAE2DF;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
    height: 200px;
    margin: 100px;
    padding: 50px;
    gap: 10px;
    border-radius: 15px;
}
.info img{
    width: 200px;
    height: 100px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    image-rendering: auto;
}
.line1{
    translate: 932px -70px;
    height: 650px;
    width: 10px;
    background-color: red;
    transform: rotate(50deg);
    display: flex;
}
.line2{
    height: 800px;
    width: 50px;
    background-color: red;
    translate: 1050px 14px;
    transform: rotate(70deg);
}
.header{
    width: 100%;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 0;
}